:root{

    font-size: 15px;

}

*{
    margin:0;
    padding: 0;
}

body{

    background-image: url("data/bgTable.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    overflow: hidden;

}

h1{

    color: white;
    width: fit-content;

    margin-left: 40%;

    padding-top: 4rem;

}

/****************************/
/*       LISTSECTION        */
/****************************/

#listsection{

    position: absolute;
    left: 30%;
    top: 6%;

    border-radius: 1rem;

    display: flex;
    justify-content: center;

    min-width: 37rem;
    max-width: 37rem;
    min-height: 53rem;
    max-height: 53rem;
    padding: 2.5rem;

    background-image: url("data/tablet.png");
    background-size: 300%;
    background-position-x: 42%;
    background-position-y: 55%;

}
.container-list{

    display: flex;
    width: 100%;
    padding: 1rem;

    border: inherit;

    flex-direction: column;

}

.listtitle{

    text-align: center;

}


/*      NEWTASK     */

#newTask{

    margin-top: 1.5rem;
    margin-left: 0.5rem;

    display: flex;
    justify-content: space-around;

}

#newtaskTextfield{

    width: 80%;

}

#add{

    width: 15rem;

    padding: 0.25rem 1rem;

    margin-left: 1rem;

}


/*      LIST        */

#taskList{

    margin-top: 2rem;

    max-height: 100%;

    overflow-y: auto;

}

.list{

    display: table;

    overflow-y: auto;

}

.taskItem{

    display: flex;
    justify-content: space-between;
    
    width: 35rem;
    margin: 10px;

}

/************************/
/*       SIDEBAR        */
/************************/

#sidebarsection{

    position: relative;
    top: -6.25rem;

    width: 4.5rem;       /*  25rem extended | 4.5rem rectracted  */
    height: 100vh;


    background-color: rgb(37, 37, 37);

    color: rgb(204, 204, 204);

}

#sidebarBurgerBtn{

    width: 2.5rem;
    height: 2.5rem;

    margin: 1rem;

    background-color: green;

}

#burgerBtnDiv{

    display: flex;
    justify-content: flex-end;

}

#sidebarContent{

    display: none;

    margin-top: 3rem;

    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;

    margin-left: 2rem;

    list-style-type: none;

}

#sidebarContent > input{

    padding: 0.25rem;

    margin-bottom: 1rem;

}

#sidebarContent > ul{

    margin-left: 3rem;
    list-style-type: none;

}

.sidebarListItem{

    transition: 250ms;

    cursor: pointer;

}

.sidebarListItem:hover{

    letter-spacing: 0.2rem;

}


/************************/
/*      LISTITEMS       */
/************************/

.taskItem{

    display: flex;
    align-items: center;

    padding: 1rem 0;

}

.liCheckbox{

    margin: 0 0.5rem;

}

.liParagraph{

    width: 70%;
    hyphens: auto;
    word-wrap: break-word
}

.liButton{

    width: 10%;
    height: 2rem;

    margin: 0 0.25rem;

}