*{
    margin:0;
    padding: 0;
}

#sidebarsection{

}

#listsection{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.container-list{
    display: flex;
    border: red solid 1px;
    width: 50%;
    flex-direction: column;
}
.listtitle{
    text-align: center;
}
.list{
    display: flex;
}
.listitem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px
}
.container-note{
    display: flex;
}
.container-button{
    display: flex;
}